* {
  margin: 0;
  font-family: Helvetica, serif;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

.navbarleft {
  float: left;
}

.navbarright {
  float: right;
}

.googleapps {

}

.alerts {

}

.login {

}

.googlelogo {

}

.searchbar {

}

.googlesearch {

}

.lucky {

}

footer {

}

.footerleft {
  float: left;
}

.footerright {
  float: right;
}
