* {
  margin: 0;
  font-family: Helvetica, serif;
}

nav {
  float:top;
  display: inline-block;
}

.navbarleft {

}

.navbarright {

}

.googleapps {

}

.alerts {

}

.login {

}

.googlelogo {

}

.searchbar {

}

.googlesearch {

}

.lucky {

}

.footerleft {

}

.footerright {

}
